* {
 margin: 0;
 padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
 --fonte-pricipal: 'Montserrat';
 --fonte-secundaria: 'Arial, Helvetica, sans-serif';
 --cor-header: #87ceeb;
 --cor-texto: #000000;
 --cor-fundo: #add8e6;
}
body {
 background-color: var(--cor-fundo);
}

.apresentacao__principal {
 background-color: var(--cor-header);
 height: 12vh;
 width: 100%;
}

.apresentacao__navegacao {
 display: flex;
 justify-content: flex-end;
 gap: 50px;
}
.apresentacao__links__navbar {
 display: flex;
 position: relative;
 top: 25px;
 right: 20px;
 font-family: var(--fonte-pricipal);
 font-size: 20px;
 text-decoration: none;
 color: var(--cor-texto);
}

.apresentacao__links__navbar__botao {
 position: relative;
 border-radius: 10%;
 margin: 1% 2% 5% 0%;
 font-family: var(--fonte-pricipal);
 font-size: 20px;
 text-decoration: none;
 color: var(--cor-texto);
 background-color: #00BFFF;
 color: #ffffff;
 padding: 1% 1% 1% 1%;
}

.logo {
 max-width: 100%;
 height: 15vh;
 position: absolute;
 top: 0;
 left: 0;
 width: 100px;
 height: auto;
}

.container__paragrafos {
 width: 50%; /* Define a largura do contêiner pai */
 margin: 0 auto; /* Centraliza o contêiner na página */
}

.paragrafo {
 margin-top: 6%;
 font-family: var(--fonte-pricipal);
 text-align: center;
 font-size: 50px;
}

.subparagrafo {
 justify-content: center;
 font-family: var(--fonte-secundaria);
 text-align: center;
 font-size: 26px;
 padding: 5px;
}
.botao__cadastro {
 text-align: center;
 margin: 20px auto;
 display: block;
 width: 28%;
 height: auto;
 padding: 10px;
 justify-content: center;
 text-decoration: none;
 font-size: 24px;
 border-radius: 10%;
 font-family: var(--fonte-pricipal);
 color: var(--cor-texto);
 background-color: var(--cor-header);
}

.tartaruga {
 margin-left: 190px;
 border-radius: 5%;
 justify-content: center;
 align-items: center;
 width: 70%;
 height: auto;
 right: 100%;
}

.paragrafo__opinioes{
 margin-top: 6%;
 text-align: center;
 font-family: var(--fonte-pricipal);
 font-size: 50px;
}

.subparagrafo__opinioes{
 text-align: center;
 font-family: var(--fonte-pricipal);
 font-size: 30px;
}

.pricipal__opiniao{
 gap: 2%;
 display: flex;
 margin: 10% 10% 2% 10%;
 width: 80%;

}

.Opiniao1{
 width: 350px;
 height: 250px;
 background-color: #ffffff;
 border-radius: 10%;
}

.paragrafo__opiniao1{
 padding: 4%;
 font-size: 15px;
}

.imagem__opiniao1{
 float: left;
 padding-left: 4%;
}

.nome__opiniao1{
 padding-left: 2%;
 overflow: hidden;
}

.profissao__opiniao1{
 padding-left: 2%;
 overflow: hidden;
 opacity: 0.5;
}

.Opiniao2{
 width: 350px;
 height: 250px;
 background-color: #ffffff;
 border-radius: 10%;
}

.paragrafo__opiniao2{
 padding: 4%;
 font-size: 15px;
}

.imagem__opiniao2{
 float: left;
 padding-left: 4%;
}

.nome__opiniao2{
 padding-left: 2%;
 overflow: hidden;
}

.profissao__opiniao2{
 padding-left: 2%;
 overflow: hidden;
 opacity: 0.5;
}

.Opiniao3{
 width: 350px;
 height: 250px;
 background-color: #ffffff;
 border-radius: 10%;
}

.paragrafo__opiniao3{
 padding: 4%;
 font-size: 15px;
}

.imagem__opiniao3{
 float: left;
 padding-left: 4%;
}

.nome__opiniao3{
 padding-left: 2%;
 overflow: hidden;
}

.profissao__opiniao3{
 padding-left: 2%;
 overflow: hidden;
 opacity: 0.5;
}

.rodape{
 display: flex;
 justify-content: space-between;
 width: 100%;
 height: 200px;
 background-color: #4682B4;
}

.imagem__rodape{
 padding: 2% 2% 2% 2%;
 width: 10%;
 height: 30%;
 float: left;
}

.rodape__centro{
 align-items: center;
 padding: 3.5%;
}

.rodape__direita{
 padding: 3.5%;
}